img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}


body {
    font-size: 18px; 
    font-family: Arial, sans-serif; 
}

/* Example: Different font size for headings */
h1 { font-size: 40px;  color: blue; }
h2 { font-size: 30px;  color: blue; }
ul { font-size: 30px; }

/* Example: Different font size for paragraphs */
p {font-size: 30px;}